@import 'tailwindcss';
@import './layout.css';
@import './welcome.css';
@import './venue.css';
@import './jadwal.css';
@import './fasilitas.css';
@import './kesehatan.css';
@import './berita.css';
@import './galeri.css';
@import './privasi.css';
@import './countdown.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #013469;
    --color-accent: #FDB813;
}
